body {
    font-family: 'Raleway', sans-serif;

    .header {
        background-color: black;
    }

    #header-natasha-text {
        font-size: 16px;
        padding: 20px 0px;
        color: white;
        font-style: italic;
        font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

        .terminal {
            color: green;
        }

        .name {
            font-size: 25px;
        }
        a {
            color: #337ab7;
            border-bottom: 1px dotted #337ab7;
        }

    }

    #header-natasha-img {
        height: 250px;
        width: auto;
    }

    .social-bar {
        color: black;
        font-size: 40px;
        margin-top: 20px;
        float: right;
        a {
            color: gray;
            border-bottom: none;
            padding-right: 10px;
        }
    }
}