body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  margin-top: 0;
  background: #F0F0F0;
  /*Animations*/ }
  body .left-sidebar {
    background: #e3e3e3;
    position: fixed;
    height: 100%;
    text-align: center; }
    @media screen and (max-width: 480px) {
      body .left-sidebar {
        display: none; } }
    body .left-sidebar img {
      border-radius: 50%; }
    body .left-sidebar .contact-links div {
      margin-bottom: 10px; }
    body .left-sidebar .contact-links a, body .left-sidebar .contact-links a:visited {
      text-decoration: none;
      color: #0000b2; }
      body .left-sidebar .contact-links a:hover, body .left-sidebar .contact-links a:visited:hover {
        color: #00007f; }
      body .left-sidebar .contact-links a i, body .left-sidebar .contact-links a:visited i {
        padding: 0px 5px; }
      body .left-sidebar .contact-links a:hover, body .left-sidebar .contact-links a:visited:hover {
        text-decoration: underline; }
    body .left-sidebar .collapsed-content {
      padding-top: 200px;
      display: none; }
      body .left-sidebar .collapsed-content .contact-links-collapsed {
        text-align: center; }
        body .left-sidebar .collapsed-content .contact-links-collapsed .fa {
          font-size: 40px;
          margin: 20px 0;
          text-decoration: none; }
          body .left-sidebar .collapsed-content .contact-links-collapsed .fa.fa-envelope-o {
            font-size: 35px; }
      body .left-sidebar .collapsed-content .contact-links-collapsed a, body .left-sidebar .collapsed-content .contact-links-collapsed a:visited {
        color: #333; }
        body .left-sidebar .collapsed-content .contact-links-collapsed a:hover, body .left-sidebar .collapsed-content .contact-links-collapsed a:visited:hover {
          color: #1a1a1a; }
    body .left-sidebar .expanded-content {
      padding-top: 200px; }
    body .left-sidebar .sidebar-control {
      font-size: 40px;
      position: absolute;
      top: 30px;
      right: 20px;
      color: #AAA;
      cursor: pointer; }
      body .left-sidebar .sidebar-control.sidebar-open-button {
        right: 10px; }
    body .left-sidebar.open {
      width: 25%; }
      @media screen and (max-width: 768px) {
        body .left-sidebar.open {
          width: 35%; } }
    body .left-sidebar.closed {
      width: 50px; }
  @media screen and (max-width: 480px) {
    body .page {
      text-align: center; } }
  body .page.sidebar-open {
    margin-left: 30%;
    width: 70%; }
    @media screen and (max-width: 768px) {
      body .page.sidebar-open {
        margin-left: 40%;
        width: 60%; } }
  body .page.sidebar-closed {
    margin-left: 100px;
    width: 90%; }
  @media screen and (max-width: 480px) {
    body .page.sidebar-open, body .page.sidebar-closed {
      margin-left: 10px;
      width: 100%; } }
  body .page .content {
    padding-right: 20px; }
  body .page ul.hashlist {
    list-style-type: none;
    margin-left: 0;
    display: inline-block;
    vertical-align: top; }
    body .page ul.hashlist li {
      padding-right: 5px;
      padding-bottom: 5px;
      color: #00007f;
      text-transform: uppercase; }
      @media screen and (max-width: 480px) {
        body .page ul.hashlist li {
          display: inline-block; } }
  body .page ul.hashlist > li:before {
    content: "#";
    float: left;
    width: 1em; }
  body .subsubtitle {
    margin-bottom: 0;
    margin-left: 40px; }
    body .subsubtitle span {
      border-bottom: 2px solid red; }
  body .subtitle span {
    text-transform: uppercase;
    border-bottom: 2px solid orange; }
  @media screen and (max-width: 480px) {
    body .subtitle {
      text-align: center; } }
  body .header h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0; }
    @media screen and (max-width: 768px) {
      body .header h1 {
        font-size: 50px; } }
    @media screen and (max-width: 480px) {
      body .header h1 {
        font-size: 40px; } }
  body .header h4 {
    font-size: 25px;
    margin-top: 0; }
    @media screen and (max-width: 768px) {
      body .header h4 {
        font-size: 22px; } }
    @media screen and (max-width: 480px) {
      body .header h4 {
        font-size: 20px; } }
  body .header .mobile-contact-bar {
    display: none; }
    @media screen and (max-width: 480px) {
      body .header .mobile-contact-bar {
        display: block; }
        body .header .mobile-contact-bar img {
          border-radius: 50%; }
        body .header .mobile-contact-bar i {
          font-size: 30px;
          margin-right: 10px;
          margin-top: 15px; }
        body .header .mobile-contact-bar a, body .header .mobile-contact-bar a:visited {
          color: #555; }
          body .header .mobile-contact-bar a:hover, body .header .mobile-contact-bar a:visited:hover {
            color: #3c3c3c; } }
  body .project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
    body .project-container .project {
      margin-top: 10px;
      width: 50%; }
      body .project-container .project .project-contents {
        margin-right: 10px; }
      @media screen and (max-width: 768px) {
        body .project-container .project {
          width: 100%; } }
      body .project-container .project img {
        width: 100%; }
  body .copyright {
    margin-top: 20px; }
@keyframes transform-down {
  from {
    transform: scale(1.15); }
  to {
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
