body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    margin-top: 0;
    background: #F0F0F0;
    line-height: 1.5em;

    h1, h2, h3, h4, h5 {
        line-height: 1em;
    }

    .left-sidebar {
        background: darken(#F0F0F0, 5%);
        @media screen and (max-width: 480px) {
            display: none;
        }
        img {
            border-radius: 50%;
        }

        position: fixed;
        height: 100%;
        text-align: center;

        .contact-links {
            div {
                margin-bottom: 10px;
            }

            a, a:visited {
                text-decoration: none;
                color: #0000b2;
                &:hover {
                    color: darken(#0000b2, 10%);
                }
                i {
                    padding: 0px 5px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .collapsed-content {
            padding-top: 200px;
            .contact-links-collapsed  {
                text-align: center;
                .fa {
                    font-size: 40px;
                    margin: 20px 0;
                    text-decoration: none;
                    &.fa-envelope-o {
                        font-size: 35px;
                    }
                }
            }
            .contact-links-collapsed {
                a, a:visited {
                    color: #333;
                    &:hover {
                        color: darken(#333, 10%);
                    }
                }
            }
            display: none;
        }

        .expanded-content {
            padding-top: 40%;
        }

        .sidebar-control {
            font-size: 40px;
            position: absolute;
            top: 30px;
            right: 20px;
            color: #AAA;
            cursor: pointer;
            &.sidebar-open-button {
                right: 20px;
            }
        }
        &.open {
            width: 350px;
            @media screen and (max-width: 768px) {
                width: 35%;
            }
        }
        &.closed {
            width: 70px;
        }
    }

    .page {
        @media screen and (max-width: 480px) {
            text-align: center;
        }
        &.sidebar-open {
            margin-left: 400px;
            @media screen and (max-width: 768px) {
                margin-left: 40%;
            }
        }

        &.sidebar-closed {
            margin-left: 120px;
        }

        &.sidebar-open, &.sidebar-closed {
            @media screen and (max-width: 480px) {
                margin-left: 0px;
                width: 100%;
            }
        }

        .content {
            padding-right: 20px;
            @media screen and (max-width: 480px) {
                padding: 10px;
            }
        }
        ul.hashlist {
          list-style-type: none;
          margin-left: 0;
          display: inline-block;
          vertical-align: top;
          @media screen and (max-width: 480px) {
            padding-left: 0;
          }
          li {
            padding-right: 5px;
            padding-bottom: 5px;
            color: #00007f;
            text-transform: uppercase;
            font-weight: bold;
            @media screen and (max-width: 480px) {
                display: inline-block;
            }
          }
        }

        ul.hashlist > li:before {
          content: "#";
          float: left;
          width: 1em;
        }
    }

    .subsubtitle {
        margin-bottom: 0;
        margin-left: 40px;
        @media screen and (max-width: 480px) {
            margin-left: 0;
        }
        span {
            border-bottom: 2px solid red;
        }
    }

    .subtitle span {
        text-transform: uppercase;
        border-bottom: 2px solid orange;
    }

    .subtitle {
        @media screen and (max-width: 480px) {
            text-align: center;
        }
    }


    .header {
        h1 {
            font-family: 'Allerta Stencil', sans-serif;
            font-size: 70px;
            text-transform:uppercase;
            margin-bottom: 10px;
            margin-top: 0;
            @media screen and (max-width: 768px) {
                font-size: 50px;
            }
            @media screen and (max-width: 480px) {
                font-size: 40px;
            }
        }

        h4 {
            font-size: 25px;
            margin-top: 0;
            @media screen and (max-width: 768px) {
                font-size: 22px;
            }
            @media screen and (max-width: 480px) {
                font-size: 20px;
            }
        }

        .mobile-contact-bar {
            display: none;

            @media screen and (max-width: 480px) {
                display: block;
                img {
                    border-radius: 50%;
                }
                i {
                    font-size: 30px;
                    margin-right: 10px;
                    margin-top: 15px;
                }
                a, a:visited {
                    color: #555;
                    &:hover {
                        color: darken(#555, 10%);
                    }
                }
            }

        }
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        .project {
            margin-top: 10px;
            width: 50%;
            .project-contents {
                margin-right: 10px;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                }
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
    }

    .copyright {
        margin-top: 20px;
        padding-bottom: 20px;
    }


    /*Animations*/
    @keyframes transform-down{
        from{transform:scale(1.15)}
        to{transform:scale(1)}}
}