<section class="portfolio">
    <h1 style="text-align: center;">Projects and Work</h1>

    <div class="container">

        <div class="col-md-6">

            <div class="a-project">
                <div class="video-container embed-responsive embed-responsive-4by3">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZJZ8-JuTdIk"></iframe>
                </div>
                <h3>Flying Drum Machine</h3>
                <p>A project in collaboration with WaveDNA (a music technology company) and the University of Toronto Institute for Aerospace Studies.
                A touch-sensitive quadcopter that sends path information to a Linux machine running ROS–the Robot Operating System – and then sends information over a network to a macbook running Ableton Live 9 and Max. This information is translated to MIDI and fed into an Ableton Live drum rack. The performance is being visualized using WaveDNA Liquid Rhythm.</p>
                <a href="fdm.pdf">PDF</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="a-project">
                <a href="http://natashadalal.ca/conways-game-of-life"><img class="img-responsive" alt="game of life" src="images/gameoflife.png" /></a>
                <h3>Conway's Game of Life</h3>
                <p></p>
            </div>
        </div>
    </div>
</section>