{% include header.html %}
<div class="content">
    <section>
        <div class="text">
            <h3 class="subtitle"> <span>About Me</span> </h3>
            <p>I have a degree in Computer Science and Psychology from the University of Toronto. I currently work at <a href="http://www.bibliocommons.com">BiblioCommons</a> -- a SaaS company that works with public libraries across the U.S. and Canada to deliver a seamless online library experience. Before this, I worked at <a href="http://www.wavedna.com/">WaveDNA</a> -- A music technology start up in Toronto responsible for creating an innovative suite of tools and software to help musicians make great music while speeding up their workflow. I'm a full stack developer with a wide set of interests, and I love integrating those interests with my work.</p>

            <p>In my free time, I enjoy music, reading, cycling, and rock climbing. Oh, and puppies!</p>
        </div>
    </section>
    <section>
        <div class="text">
            <h3 class="subtitle"><span>What I do</span></h3>
            <p> I'm a full-stack developer. I believe in clean, responsive, and user friendly design, as well as in well-organized and maintainable code.</p>
            <p> I also enjoy scripting, it's a fun way to automate boring work and make people's lives a little easier.</p>
            <div class="buzzwords">
                <h3 class="subsubtitle"><span>BUZZWORDS</span></h3>
                <ul class="hashlist">
                    <li>HTML5</li>
                    <li>PHP</li>
                    <li>SASS/CSS</li>
                    <li>JavaScript</li>
                    <li>Django</li>
                    <li>Ruby on Rails</li>
                    <li>jQuery</li>
                    <li>Bootstrap</li>
                    <li>Wordpress</li>
                    <li>KirbyCMS</li>
                    <li>Responsive Design</li>
                    <li>ADA Compliance</li>
                </ul>
                <ul class="hashlist">
                    <li>Java</li>
                    <li>Python</li>
                    <li>Matlab</li>
                    <li>C/C++</li>
                    <li>SQL</li>
                    <li>NoSQL (MongoDB/Redis)</li>
                    <li>iOS development</li>
                    <li>Android development</li>
                    <li>Gulp</li>
                    <li>Bower</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>

    </section>
    <section>
        <div class="text">
            <h3 class="subtitle"><span>Work / Projects</span></h3>
            Here is some of my recent work. For more, check out my <a href="http://www.github.com/natashad" alt="Github Link">Github Page</a>.
            <div class="project-container">
                <div class="project">
                    <div class="project-contents">
                        <a href="http://www.shesays.in" alt="SheSays India"><img src="images/shesays.png" alt="SheSays India" /></a>
                        <div>
                            <p>A fully customizeable site built with KirbyCMS (A PHP based flat-file CMS). This site is fully responsive and uses bootstrap, jQuery, and the twitter API on the front-end.</p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="project-contents">
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/d5zG-BWB7lE' frameborder='0' allowfullscreen></iframe></div>
                        <p>An interactive quadcopter that drives playback of drum sounds in real-time through a computer running Ableton and Max. Built in collaboration with the University of Toronto Institute for Aerospace Studies and WaveDNA.</p>
                        <i class="fa fa-file-pdf-o"></i> <a target="_blank" href="documents/fdm.pdf" alt="PDF Download">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% include footer.html %}
