{% include header.html %}

<section class="skills">
    <div class="container">

        <div class="col-md-4">
            <div class="page-sec">
                <div class="icon-circle">
                    <div class="circle-inner">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <h3>About Me</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="page-sec">
                <div class="icon-circle">
                    <div class="circle-inner">
                        <i class="fa fa-wrench"></i>
                    </div>
                </div>
                <h3>Skills &amp; Tools</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="page-sec">
                <div class="icon-circle">
                    <div class="circle-inner">
                        <i class="fa fa-bicycle"></i>
                    </div>
                </div>
                <h3>Something Else</h3>
            </div>
        </div>

    </div>
</section>

{% include footer.html %}