{% include header.html %}

<section class="skills">
    <div class="container">

        <div class="col-md-4">
            <div class="page-sec">
                <div class="icon-circle">
                    <div class="circle-inner">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <h3>About Me</h3>
                <p>I am a full-stack developer with a penchant for clean, responsive, and user-friendly design. Aside from programming, I enjoy puppies, coffee, books, music, rock climbing, and cycling.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="page-sec">
                <div class="icon-circle">
                    <div class="circle-inner">
                        <i class="fa fa-wrench"></i>
                    </div>
                </div>
                <h3>Skills &amp; Tools</h3>
                <span style="font-weight:bold">Languages:</span> Java, Python, C/C++, HTML, PHP, SASS/CSS, JavaScript, SQL.<br />
                <span style="font-weight:bold">Technologies:</span> Django, Ruby on Rails, jQuery, Git, Bootstrap.
            </div>
        </div>

        <div class="col-md-4">
            <div class="page-sec">
                <div class="icon-circle">
                    <div class="circle-inner">
                        <i class="fa fa-laptop"></i>
                    </div>
                </div>
                <h3>Get In Touch</h3>
                <div class="contact-links">
                    <a href="https://github.com/natashad"><i class="fa fa-github"></i>Github</a>
                    <a href="https://www.linkedin.com/pub/natasha-dalal/65/85/a57"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
                    <a href="mailto:natashadalal@gmail.com">natashadalal@gmail.com</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="portfolio">
    <h1 style="text-align: center;">Projects and Work</h1>
</section>

{% include footer.html %}